#Vhost template file

<% if @port == 80 -%>
	NameVirtualHost *:80
<% end -%>

<VirtualHost *:<%= @port %> >
ServerName <%= @domain %>
DocumentRoot <%= @document_root %>

<Directory />
Options FollowSymLinks
AllowOverride None
</Directory>
<Directory  <%= @document_root %>>
Options Indexes FollowSymLinks Multiviews
AllowOverride None
order allow,deny
allow from all
</Directory>
</VirtualHost>
